.home-title-container{
    max-width: 512px;
    margin: 74px auto 30px auto;
}
.home-title{
    font-weight: 500;
    font-size: 80px;
    line-height: 115px;
    color: var(--secondary-color);
    text-align: center;
}

.home-subtitle{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--shuttle-grey-color);
}