.wrapper{
    background-image: url('../../images/advantages.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 4em 0;
    margin-bottom: 3rem;
}

.content{
    display: flex;
    flex-direction: column; 
    gap: 1.375rem;
    justify-content: center;
    text-align: center;
}
