.wrapper{
    height: calc(100vh - 31.25rem);
    padding: 2em 0 2.313em 0;
    margin-top: 5rem;
}

.content_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_1_left,
.content_1_right{
    flex: 1 0 50%;
}

.subscribe_input{
    margin: 2.125rem 0 3.125rem 0;
}

.icons{
    margin-bottom: 2.5rem;
}

.content_1_right{
    display: flex;
    gap: 16.875em;
    justify-content: flex-end;
}

.links_content{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    list-style: none; 
}

.link a{
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1rem;
    color: var(--mid-grey-color);
    position: relative;
    padding-top: 2.5em;
}

p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #535B65;
}

.content_2_copyright{
    margin-top: 1.25rem;
    border-top: 1px solid #DBDBDB;
    padding: 1.25em 0 3.125em 0;
    display: flex;
    justify-content: space-between;
}

.credit_cards{
    display: flex;
    gap: 0.625em;
}

.copyright{
    font-size: 0.875rem;
    line-height: 1rem;
    color: #535B65;
    cursor: pointer;
}

.copyright_link{
    color: var(--grey-chateau-color);
}
