.wrapper{
    margin: 3.5rem 0;
}

.content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media(max-width: 1024px){
    .content{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media(max-width: 768px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .content{
        grid-template-columns: 1fr;
    }
}

