.input_group{
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
}

.inp[type="email"]{
    border-radius: 6px 0px 0px 6px;
}

.btn{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.125rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0.55em 1.3em;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
}