.nav{
    display: flex;
    gap: 1.8em;
}

.nav-items a{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--mid-grey-color);
    position: relative;
    padding-top: 3em;
}

.nav-items a:hover::before{
    position: absolute;
    content: '';
    width: 2rem;
    height: 0rem;
    left: 0rem;
    top: 0rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: all 5s ease-in-out;
}


.nav:global(.active),

.nav-items a:hover {
  color: var(--primary-color);
}

