.wrapper{
    margin: 4rem 0;
    position: relative;
}

.box{
    width: 100%;
    min-height: 18.75rem;
    background: #FFFFFF;
    box-shadow: 0px -1px 8px rgba(80, 80, 80, 0.25);    
    padding: 1.56em 0 1.56em 1.5em;
    display: flex;
}

.box_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.info h3{
    font-size: 2.25rem;
    line-height: 2.18rem;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.image{
    width: 10.18rem;
    height: 15.65rem;
    position: relative;
    z-index: 2;
}

.image_1::after{
    content: url('../../images/pseudo_bike.svg');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
