.wrapper{
    margin: 4rem 0;
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box{
    flex: 1;   
    flex-shrink: 0; 
    min-height: 18.75rem;
    background: #FFFFFF;
    box-shadow: 0px -1px 8px rgba(80, 80, 80, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.56em 0 1.56em 1.5em;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h3{
    font-size: 2.25rem;
    line-height: 2.18rem;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.image{
    width: 10.18rem;
    height: 15.65rem;
    position: relative;
    z-index: 2;
}

.image_1::after{
    content: url('../../images/pseudo_bike.svg');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.faArrow{
    border: 1px solid #7D9C37;
    border-radius: 0.375em;
    width: 1.25rem;
    height: 1.25rem;
    padding: 1em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.faArrow_left{
    left: 4rem;
}

.faArrow_right{
    right: 4rem;
}