.contact-info-container{
    max-width: 1270px;
    margin: 0 auto 80px auto;
}

.contact-info-flex{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 80px 0;
    gap: 30px;
}

.image, .contact-info-content{
    flex: 1;
}

.contact-info-title{
    font-weight: 500;
    font-size: 40px;
    line-height: 57px;
    color: var(--secondary-color);
    margin: 20px 0;
}

.contact-info-text{
    width: 568px;
}

.contact-info-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #535B65;
    margin-bottom: 20px;
}

.contact-cards{
    display: flex;
    gap: 22px;
}


