.wrapper{
    background-image: url('../../images/subscribe-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}

.content{
    padding-top: 2em;
    display: flex;
    gap: 9rem;
    align-items: center;
    position: relative;
    z-index: 1;
}

.content::before{
    content: url('../../images/subscribe-effect.svg');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; 
}

.input_subscribe{
    max-width: 28rem;
}

.input_subscribe input::placeholder{
    color: #fff;
}

.input_subscribe p{
    color: #fff;
    opacity: 0.8;
}

.image{
    width: 32.375rem;
    height: 19.43rem;
}
