.container{
    max-width: 32rem;
    margin: 3.5rem auto 1.875rem auto;
    text-align: center;
}
.title{
    font-weight: 500;
    font-size: 5rem;
    line-height: 7.18rem;
    color: var(--secondary-color);
}

.subtitle{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.688rem;
    text-align: center;
    color: var(--shuttle-grey-color);
}

.hero_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5.625rem;
}

.hero_image::before{
    content: url('../../images/home-bike.svg');
    position: absolute;
    top: -3.75rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.hero_image::after{
    content: url('../../images/home-model.svg');
    position: absolute;
    top: -3.75rem;
    right: 20%;
    z-index: 11;
}