.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.9em 0 1.56em 0;
}

.content_left{
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.content_left_link{
    display: flex;
    align-items: center;
    gap: 0.6em;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18rem;
    color: var(--mardi-gras-color);
}

.content_left_icons{
    width: 1.5rem;
    height: 1.5rem;
}

.content_right{
    display: flex;
    align-items: center;
}

.content_right li{
    margin-left: 1.3rem;
    position: relative;
}

.content_right li a{
    width: 1.3rem;
    height: 1.3rem;
    color: var(--grey-chateau-color);
}

.content_right li::after{
    content: '';
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    width: 1.3rem;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(90deg);
}

.content_right li:last-child:after{
    content: none;
}





