.header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.9em 0 1.56em 0;
}

.header1-contact{
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.header1-contact-link{
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.header1-contact a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18rem;
    color: var(--mardi-gras-color);
}

.header1-contact .icon{
    width: 1.5rem;
    height: 1.5rem;
}

.header1-icons{
    display: flex;
    align-items: center;
    list-style: none;
}

.header1-icons li{
    margin-left: 1.3em;
    position: relative;
}

.header1-icons li a{
    width: 1.3rem;
    height: 1.3rem;
    color: var(--grey-chateau-color);
}

.header1-icons li::after{
    content: '';
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    width: 1.3rem;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(90deg);
}

.header1-icons li:last-child:after{
    content: none;
}





