.form_container{
    margin-top: 5rem;
    text-align: center;
}

.input_form_group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.375rem;
    margin-top: 1.875rem;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #9CA9BE;
    opacity: 0.7;
}

input[type="checkbox"]{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #EBEDEC;
}

.checkbox_container{
    margin-bottom: 1.875rem;
}

.p{
    margin-top: .8rem;
    color: var(--primary-color);
    font-size: 1.5rem;
}