.search_container{
    background: #FFFFFF;
    box-shadow: 0px -1px 8px rgba(80, 80, 80, 0.25);
    z-index: 20;
    position: absolute;
    top: 106vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.68em 3.12em;
    min-height: 13.75rem;
    width: 80%;
}

.search_contents{
    display: flex;
    flex-direction: column;
}

.search_title{
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
}

.search_select_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    margin-top: 1.875rem;
}

.search_items_container{
    flex: 1;
    width: 15.81rem;
}

.search_item{
    border: 1px solid #EBEDEC;  
    border-radius: 0.375em;
    position: relative;
}

label{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #9CA4AB;
}

select{
    outline: none;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    border-radius: 0.375em;
    color: #65696C;
    padding: 1em .9em 1em 1.18em;  
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    cursor: pointer;
}

select:focus{
    border: 1px solid var(--primary-color);
} 

.arrow_icons{
    position: absolute;
    top: 50%;
    right: 0.9rem;
    transform: translateY(-50%);
    width: 1.125rem;
    color: #9CA4AB;
    cursor: pointer;
    transition: transform 200ms;
 }

 .label_btn{
     visibility: hidden;
}
